<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>欢迎您，{{re[0]}}
<p>大厅
<form action="/myinfo" method="get">
    我的信息<input type="submit" value="进入">
</form>
<form action="/look_for_treasure" method="get">
    寻宝<input type="submit" value="进入">
</form>
<form action="/look_for_money" method="get">
    赚钱<input type="submit" value="进入">
</form>
<form action="/marinfo" method="get">
    集市<input type="submit" value="进入">
</form>
<form action="/sell" method="get">
    出售<input type="submit" value="进入">
</form>
</body>
</html>
